{% extends 'main/base.html' %}

{% block title %}Update Profile{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Update Profile</h1>
<form method="post" action="{% url 'update_profile' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Update</button>
  </form>

  <h2>Add Funds</h2>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="add_funds" value="true">
    <div class="mb-3">
        <label for="amount" class="form-label">Amount to Add</label>
        <input type="number" step="0.01" name="amount" id="amount" class="form-control" placeholder="Enter amount">
    </div>
    <button type="submit" class="btn btn-success">Add Funds</button>
</form>
  
  <!-- Form for creating a new seller 
  <form method="get" action="{% url 'add_seller' %}">
    <button type="submit" class="btn btn-success">New Seller</button>
  </form>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit"<a href="{% url 'add_seller' %}" class="btn btn-success">New Seller</a>
    <button type="submit" class="btn btn-success">Update</button>
</form>-->
{% endblock %}
